[submodule "Entities/thesdk"]
	path = Entities/thesdk
    url = git@github.com:TheSystemDevelopmentKit/thesdk.git
[submodule "Entities/thesdk_helpers"]
	path = Entities/thesdk_helpers
	url = git@github.com:TheSystemDevelopmentKit/thesdk_helpers.git
[submodule "covid19"]
	path = Entities/covid19
	url = git@github.com:mkosunen/covid19.git
