[submodule "Entities/thesdk"]
	path = Entities/thesdk
    url = git@github.com:TheSystemDevelopmentKit/thesdk.git
[submodule "Entities/covid19"]
	path = Entities/covid19
	url = git@github.com:mkosunen/covid19.git
[submodule "thesdk_helpers"]
	path = thesdk_helpers
	url = git@github.com:TheSystemDevelopmentKit/thesdk_helpers.git
